*{
    padding: 0;
    margin: 0;
}
/* Default state */
.nav-link {
    color: #ffffff !important;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease; 
}

.nav-item a:focus{
    color: #ff9707 !important; 
}


.navbar-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.navbar-default {
    background-color:  #394257 ; 
}

.navbar-scrolled {
    background-size: cover;
    background-blend-mode: overlay;
}


.header{
    background: linear-gradient(to right, rgba(47, 46, 46, 0.5), rgba(140, 138, 186, 0.5)), url(../images/hero-bg.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    text-align: center; 
    color: white;
    opacity: 0.7;
}
.header .btn{
    border-radius: 20px;
    color: white;
}
.header .btn :hover{
 color: white;
}
.logo{
  background-color: #f6f8fa;
}
.client-logo{
    filter: grayscale(100);
}
.client-logo:hover{
    filter: none;
}
.class{
    height: 150vh;
}
.iconbox{
    background-color: #ff9707;
    width: 70px;
    height: 60px;
    display: flex;
    margin-right: 10px;
    border-radius: 5px;
}
.iconright{
    padding-left: 1.5rem;
}


.stats-container {
    background-color: #f8f9fa;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stat {
    padding: 2rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.stat h2{
    font-size: 3rem;
}
.stat:hover {
    transform: translateY(-5px);
}

.stat p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #6c757d;
}


@media (max-width: 767.98px) {
    .col-md-3 {
        margin-bottom: 2rem; 
    }
}

.about i{
    color:#ffffff;
    font-size: 1.6rem;
}
.about h3{
    font-size: 1.7rem;
    color: #414c64;
    font-weight: 700;
}
.about h5{
    color: #414c64;

}
  .svg-container {
    position: relative;
    width: 100px;
    height: 100px;
  }
  .svg11{
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .svg-container svg {
    width: 100%;
    height: 100%;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; 
  }
  .call {
    background-color: #414c64;
    color: white;
    

  }
  .call .btn {
    border: #ff9707 2px solid !important;
    color: white;
    border-radius: 20px;
    font-size: 1.1
    rem;
  }
  .call .btn:hover{
color: white;
background-color: #ff9707;
  }

/* General styles */
.gallery img {
    object-fit: cover;
    width: 100%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


.photo {
    opacity: 1;
    transform: rotateY(90deg); 
    display: block;
}
.gallery input:active{
    color: #ff9707 !important;
}
.photo.hide {
    opacity: 0;
    transform: rotateY(90deg);
    display: none;
}

.photo.show {
    opacity: 1;
    transform: rotateY(0); 
    display: block;
}


  .Testimonials img{
   border-radius: 50%;
  }
  .Testimonials i {
    color: #ff9707;
    font-size: 1..3rem;
    opacity: .5;
  }
  .Testimonials h2,
  .team h2,
  .pricing h2,
  .services h2,
  .gallery h2,
  .questions h2 {
    color: #414c64;
    position: relative;
    text-align: center;
}

.Testimonials h2,
.team h2,
.services h2,
.pricing h2,
.gallery h2,
.questions h2::after {
    content: "";
    display: block;
    margin: 10px auto 0 auto; 
    border-bottom: 3px solid #ff9707;
    width: 60px;
}
.questions h2 ::after{
    /* content: "";
    display: block;
    margin: 10px auto 0 auto; 
    border-bottom: 3px solid #ff9707; */
    width:160px !important ;
}
.team2{
    background-color: #ffffff;
}
.team1 {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.team h3{
    color: #414c64;
    font-size: 1.3rem;
}
.team1 p{
    font-size: .9rem;
    opacity: .6;
}
.iconteam{
    font-size: 1.3rem;
}
.team1 {
    position: relative;
 }

.overlay {
    position: absolute; 
    bottom:92px; 
    left: 0; 
    right: 0; 
    padding: 10px; 
    display: flex; 
    justify-content: center; 
    gap: 10px; 
   opacity: 0;
}

.team2 {
    text-align: center; 
    padding: 10px;
}
.team1:hover .overlay {
    opacity: 1; 
}

.iconteam:hover {
    color: #ff9707 !important;
}
.iconteam:hover i {
    background-color: #ffffff !important;
}
.pricing .btn,
.Business{
    background-color: #ff9707;
    color: #ffffff;
}
/* Override the padding using custom styles */
.no-gutter {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.pricing .btn:hover{
opacity: .7 !important;
background-color: #ff9707;
color: #ffffff;
}

.faq-section {
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.faq-question {
    font-size: 18px;
    font-weight: bold;
    color: #ff9707;
}

.faq-answer {
    font-size: 16px;
    color: #555;
    display: none;
    margin-top: 10px;
}

.faq-item.active .faq-answer {
    display: block;
}
.faq-section i {
    color: #ff9707;
    font-size: 1.5rem;
}

.footer p, .footer ul {
    font-size: 14px;
}

.footer ul {
    list-style: none;
}


.footer a  {
    font-size: 18px;
    color:  #747272 !important; 
    text-decoration: none;
}

.footericon{
    border: 1px sloid #444444 !important;
}

.footer .text-center {
    margin-top: 20px;
    font-size: 14px;
}

.footer a:hover{
    color: #ff9707 !important;
}

#scrollBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    bottom: 20px;
    /* Place the button 20px from the bottom */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #ff9707;
    color: white;
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
  }
  
  #scrollBtn:hover {
opacity: .7;
  }